body{
    font-family: 'Montserrat', sans-serif;
}

#product-overview{
    background: #ff1b68; 
}

#product-overview h1{
    font-family: 'Anton', sans-serif;
}

.section-title{
    color: greenyellow;
    font-family: inherit;
}

h1{
    color: white;
    font-family: 'Anton', sans-serif;
}

