*{
    box-sizing: border-box;
}

body{
	margin: 0;
}

/*********************   Navigation Styling   *************************/

header.mainHeader{
	width: 100%;
	background: yellowgreen;
}

div.logo{
	display: inline-block;
	vertical-align: middle;
}

a.logoText{
	color: green;
	font-size: 1.7em;
	font-weight: bold;
	text-decoration: none;
	margin-left: 16px;
}

.mainNav{
	display: inline-block;
	text-align: right;
	width: calc(100% - 112px);
	vertical-align: middle;
}

.mainNavItems{
	padding: 0;
	margin: 0;
	list-style: none;
}

.mainNavItem{
	display: inline-block;
}

.mainNavItem a{
	color: green;
	text-decoration: none;
	margin: 0 16px;
}

.mainNavItem a:hover{
	color: white;
}

.mainNavItem:last-child a{
	color: white;
	font-weight: bold;
	background: green;
	padding: 2px;
	border: 2px solid white;
	border-radius: 5px;
}

.mainNavItem:last-child a:hover{
	color: green;
	background: white;
	border: 2px solid green;
}